# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.~
*#
.env
env/
venv/
ENV/
env.bak/
venv.bak/

# Databases
*.db
*.db-journal # SQLite journal file

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Optional data directory (if you keep DB outside source control)
data/